@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-image: url(../img/bg_t.png), linear-gradient(to right, #673f98, #ac73af);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	font: 14px/1.4 'Roboto Condensed', Arial, sans-serif;
}

.container {
	width: 750px;
	margin: 0 auto;
}

.header {
	font: 14px/1.4 'Roboto', Arial, sans-serif;
	padding: 30px 0;
}

.header:before, .header:after {
	content: '';
	display: table;
}

.header:after {
	clear: both;
}

.header__logo {
	float: left;
}

.header__toggle {
	float: right;
	display: inline-block;
	width: 30px;
	height: 20px;
	background: url(../img/btn_menu.svg) no-repeat center;
	background-size: contain;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.header__toggle:hover,
.header__toggle:focus,
.header__toggle:active {
	opacity: .7;
	outline: none;
}

.header__nav {
}

.header__nav-list {
	text-align: center;
	margin: 0;
	padding: 0;
}

.header__nav-item {
	display: inline-block;
	margin: 0 20px;
}

.header__nav-link {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	padding: 5px;
	letter-spacing: 1px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active,
.header__nav-link.active {
	border-bottom: 1px solid #fff;
	outline: none;
}

.card {
	height: 430px;
	background: #fff;
	margin: 60px 0;
	position: relative;
	font-size: 0;
}

.card::before {
	content: '';
	position: absolute;
	left: -10px; right: -10px;
	top: 10px; bottom: 10px; 
	background: rgba(255,255,255, .5);
	z-index: -1;
}

.card::after {
	content: '';
	position: absolute;
	left: -20px; right: -20px;
	top: 20px; bottom: 20px; 
	background: rgba(255,255,255, .3);
	z-index: -2;
}

.card__gallery,
.card__info {
	display: inline-block;
	height: 100%;
}

.card__gallery {
	background-color: #f4f4f4;
	background-size: contain;
	background-position: center 25%;
	background-repeat: no-repeat;
	background-image: url(../img/bg_g.png), linear-gradient(to bottom, #efedef, #f4f4f4 40%);
	width: calc(100% - 250px);
	position: relative;
}

.card__tm {
	color: #fff;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	position: absolute;
	left: 0; right: 0;
	top: 10%;
	text-shadow: 0 0 20px rgba(0,0,0, .1);
}

.card__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.card__info {
	width: 250px;
}